
<!doctype html>
    <html>
        <head>
            <meta name = "author" content = "itfeelsnice">
            <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
            <meta charset = "UTF-8">
            <title>singup</title>
            <link rel = "stylesheet" href = "../static/css3.css">
        </head>
        <body>
            <div id = "cover1"></div>
            
            <div id = "div1">
                <form method = "post">
                    <input id = "inp2" name = "input2" placeholder = "username">
                    <input id = "inp3" name = "pass2" placeholder = "password">
                    <button id = "btn1">login</button>
                    <h1>{{duplicates}}</h1>
                    <h1>{{fill1}}</h1>
                </form>
            </div>

            <script src="../static/js3.js"></script>
        </body>
    </html>

