
<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset = "UTF-8">
            <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
            <meta name = "author" content = "itfeelsnice">
            <link rel = "stylesheet" href = "../static/css1.css">
            <title>Document</title>
        </head>
        <body>
            <header>
                <div id = "top1"></div>
                <div id = "divall"></div>
                
                <div class = "div1" id = "div2">
                    <h1 class = "a1" id = "a2">This project started on 29.05.2026 to combine everything i learned so far.</h1>
                </div>
                
                <div class = "div1" id = "div3">
                    <h1 class = "a1" id = "a3">Its so boring to fill all these boxes with text.</h1>
                </div>
                
                <div class = "div1" id = "div4">
                    <h1 class = "a1" id = "a4">I will combine python/css/js/git/PostgreSQL/html.</h1>
                </div>

               <div class = "div1" id = "div5">
                    <h1 class = "a1" id = "a5">Below this it will be a play ground area.</h1>
                </div> 

            </header>

            <main>
                <div id = "divall2">
                    <div class = "grab1" id = "grab2">
                        <input class = "inp1" id = "inp2" placeholder = "add your wish"> 
                        <h1 id = "text1"></h1>
                    </div>
                    <div class = "grab1" id = "grab3">
                        <input class = "inp1" id = "inp3" placeholder = "add your wish">
                        <h1 id = "text2"></h1>

                    </div>
                    <div class = "grab1" id = "grab4"> 
                        <input class = "inp1" id = "inp4" placeholder = "add your wish"> 
                        <h1 id = "text3"></h1>
                    </div>
                </div>
            </main>
            
            <footer>
                <h1 class = "a6">GRAB THE BOX</h1>
                <h1 class = "a7">place your wish in the order you want it to happen</h1>
            </footer>
            <script src = "../static/js1.js"></script>
        </body>
    </html>








