
<!doctype html>
    <html>
        <head>
            <meta name = "author" content = "itfeelsnice">
            <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
            <meta charset = "UTF-8">
            <title>login</title>
            <link rel = "stylesheet" href = "../static/css2.css">
        </head>
        <body>
            <div id = "cover1"></div>
            
            <div id = "div1">
                <form method = "post">
                    <input id = "inp1" name = "input1" placeholder = "username">
                    <input id = "inp2" name = "pass1" placeholder = "password">
                    <button id = "btn1">login</button>
                </form>
            </div>

            <script src="../static/js2.js"></script>
        </body>
    </html> 