
<!doctype html>
    <html>
        <head>
            <meta name = "author" content = "itfeelsnice">
            <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
            <meta charset = "UTF-8">
            <title>login</title>
            <link rel = "stylesheet" href = "../static/css2.css">
        </head>
        <body>
            <header>
                <div class = "divall" id = "div2"></div>
                <div class = "divall" id = "div3"></div>
                <div class = "divall" id = "div4"></div>
                <div class = "divall" id = "div5"></div>
                <div class = "divall" id = "div6"></div>
            </header>

            <main>
                <div id = "div1">
                    <form method = "post">
                        <input id = "inp1" name = "input1" placeholder = "username">
                        <input id = "inp2" name = "pass1" placeholder = "password">
                        <button id = "btn1">login</button>
                        <a href = "/singup" id = "link1">sing up</a>
                    </form>
                </div>
            </main>

            <footer>
                <a id = "link2" href = "https://github.com/itfeelsnice" target = "_blank">itfeelsnice github account</a>
            </footer>
            <script src="../static/js2.js"></script>
        </body>
    </html>


















